In [1]:
#1st Session Assignment # 
# 1.	Install Jupiter notebook and run the first program and share the screenshot of the output. Navigator Screen

print("        ")
print("Welcome to Sreedhara for Python Learning Experience")
print("        ")

Welcome to Sreedhara for Python Learning Experience

In [2]:
#1st Session Assignment # 
#2. Write a program which will find all such numbers which are divisible by 7 but are not a #multiple of 5, between 2000 
#and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line

# Store list range between 2000 and 3200
list1=list(range(2000,3201))
#Go throght range and find which are divisible by 7 but are not a muliples of 5.
divisible_by_7_but_not_multiple_of_5=''
divisible_by_7_but_multiple_of_5=''

for i in list1:
    if i%7==0 and i%5!=0:
        if divisible_by_7_but_not_multiple_of_5=='': 
            divisible_by_7_but_not_multiple_of_5=str(i)            
        else:
            divisible_by_7_but_not_multiple_of_5=divisible_by_7_but_not_multiple_of_5 +','+ str(i)            
    elif i%7==0 and i%5==0:
        divisible_by_7_but_multiple_of_5=divisible_by_7_but_multiple_of_5 +','+ str(i)
print('Below are Divisible by 7 but not a mulitples of 5 are: ')
print(divisible_by_7_but_not_multiple_of_5)
print ('                  ')
print('Below are Divisible by 7 and mulitples of 5 are: ')
print(divisible_by_7_but_multiple_of_5)
print('end')

Below are Divisible by 7 but not a mulitples of 5 are:
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Below are Divisible by 7 and mulitples of 5 are:
,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185
end

In [3]:
#1st Session Assignment # 
#3. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse 
#order with a space between first name and last name.
firstName=input('Enter First Name: ')
lastName=input('Enter Last Name: ')
reverse_text_firstName=''
reverse_text_lastName=''
print('Name is ', firstName +' '+ lastName)
print('Name in Reverse Order is ', lastName +' '+firstName)
print('           ')
print('Names letter in Reverse Order')
firstName2=list(firstName)
lastName2=list(lastName)
for str in firstName2:
    reverse_text_firstName=str +' '+reverse_text_firstName
print('First Name Reverse is ',reverse_text_firstName)
for str in lastName2:
    reverse_text_lastName=str +' '+reverse_text_lastName
print('Last Name Reverse is ',reverse_text_lastName)
print('Full Name in Reverse letter is ',reverse_text_firstName +' '+reverse_text_lastName)

Enter First Name: Avinandha
Enter Last Name: Sreedhara
Name is  Avinandha Sreedhara
Name in Reverse Order is  Sreedhara Avinandha

Names letter in Reverse Order
First Name Reverse is  a h d n a n i v A
Last Name Reverse is  a r a h d e e r S
Full Name in Reverse letter is  a h d n a n i v A  a r a h d e e r S

In [4]:
#1st Session Assignment # 
#4. Write a Python program to find the volume of a sphere with diameter 12 cm.
#Formula: V=4/3 * Ï€ * r 3
import math
radious=12/2
print('Radious : ', radious)
print('Pi Value : ', math.pi)

volume=4/3 * math.pi * radious**3
print('volume of a sphere with diameter 12 cm is ' , volume)

Radious :  6.0
Pi Value :  3.141592653589793
volume of a sphere with diameter 12 cm is  904.7786842338603